@font-face {
    font-family: 'work sans';
    src: url("fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: 'nexa';
    src: url("./fonts/Nexa\ Bold.otf");
}

@font-face {
    font-family: 'Graphie';
    src: url("fonts/Graphie-ExtraBold.otf");
}

@font-face {
    font-family: 'Graphie-Bold';
    src: url("./fonts/Graphie-Bold.otf");
}

@font-face {
    font-family: 'Neue';
    src: url("fonts/HelveticaNeueBold.otf");
}

@font-face {
    font-family: 'Poppins';
    src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'Graphies-semiBold';
    src: url("./fonts/Graphie-SemiBold.otf");
}

@font-face {
    font-family: 'Graphie-Regular';
    src: url("./fonts/Graphie-Regular.otf");
}

@font-face {
    font-family: '¨Poppins-SemiBold';
    src: url("./fonts/Poppins-SemiBold.ttf");
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 5%;

}

.hero {
    padding-bottom: 20%;
    margin: 0px;
}

body {
    margin: 0px;
}

.logo {
    font-family: 'nexa';
    color: #502EFF;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #502EFF;
    font-family: 'work sans';
    text-decoration: none;
}

.navBtn {
    border-radius: 24px;
    border-style: none;
    color: white;
    background-color: #502EFF;
    height: 40px;
    width: 120px;
    padding: 12px 30 px;
    text-decoration: none;
    font-family: 'work sans';
    box-shadow: 0 10px 10px #858585;

}

.navBtn a {
    text-decoration: none;
    color: white;
    height: 24px;
}

.imageHero {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: -1;
}

.nav {
    position: relative;
    z-index: -1;
}

.firstP {
    font-family: 'Graphie';
    font-size: 90px;
    color: #502EFF;
}

.secondP {
    color: #000964;
    font-family: 'Neue';
    font-size: 20px;
    text-align: start;
}

.visual {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    padding-left: 7%;
    /* padding-top: 20%; */


}

.services {
    background-color: #502EFF;
    padding-bottom: 40px;
    position: relative;
    z-index: 0;
    background-image: url("./images/Groupe\ 935.png");
}


.anotherP {
    font-family: Graphie;
    font-size: 90px;
    color: white;
    text-align: center;
}

.servPort {
    height: 300px;
    width: 500px;
    background-color: #502EFF;
    padding-left: 10%;
    padding-top: 8%;
}

.ServicesP {
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
}

.service {
    height: 200px;
    width: 400px;
    padding-right: 15px;
}

.serviceFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
}

.linkSer {
    text-decoration: none;
    font-family: 'Poppins';
    color: white;
    text-align: end;

}

.Pictures {
    display: flex;
    justify-content: flex-start;
    padding-right: 30px;
    padding-left: 30px;
    height: 720px;
    padding-bottom: 50px;
}

.customButton {
    color: #502EFF;
    background-color: white;
    border: none;
    border-radius: 32px;
    height: 45px;
    font-family: 'work sans';
    font-size: 20px;
    box-shadow: 0 5px 10px #858585;

}

.anotherBtn {
    display: flex;
    justify-content: center;
}

.team {
    padding-bottom: 70px;

}

.TeamP {
    font-family: 'Graphies-semiBold';
    font-size: 24px;
    text-align: center;
    color: #BEBEBE;
    padding-top: 40px;
}

.teamP2 {
    font-family: 'Graphies-semiBold';
    font-size: 32px;
    text-align: center;
    color: #502EFF;
}

.secondTextTeam {
    display: flex;
    justify-content: center;

}

.person1 {
    height: 400px;
    width: 300px;
    background-color: #FFC5B8;
}

.teamDescp {
    font-family: 'Graphie-Bold';
    color: #502EFF;

}

.teamdescp2 {
    font-family: 'Graphie-Regular';
    color: #BEBEBE;
}

.coloredBack {
    width: 300px;
    height: 400px;
    background-color: #FFC5B8;
    background-image: url("./images/NewJam.png");
    background-size: cover;
    background-position: center;
}

.coloredBack2 {
    width: 300px;
    height: 400px;
    background-color: #FF5630;
    background-image: url("./images/Ema.png");
    background-size: cover;
    background-position: center;
}

.coloredBack3 {
    width: 300px;
    height: 400px;
    background-color: #3E4863;
    background-image: url("./images/Mike.png");
    background-size: cover;
    background-position: center;
}

.teamMemeberExplication {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.description {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;

}

.TeamBtn {
    font-family: 'work sans';
    font-size: 18px;
    height: 42px;
    width: 200px;
    border: none;
    background-color: #502EFF;
    color: white;
    border-radius: 30px;
    box-shadow: 0 20px 10px #ddd;
}

.TeamButton {
    display: flex;
    justify-content: center;

}

.ContactUs {
    margin-bottom: 40px;
}

.firstTextContact {
    font-family: 'Graphie-SemiBold';
    color: #CBD5F9;
    font-size: 20px;
    text-align: center;
}

.secondTextContact {
    font-family: 'Poppins-SemiBold';
    font-size: 30px;
    color: #502EFF;
    text-align: center;
}

input {
    border-color: #502EFF;
    border-radius: 24px;
    height: 30px;
    width: 180px;
    padding-left: 35px;
    border: non;
    padding-right: 40px;
    margin-right: 40px;

}

::placeholder {
    font-family: 'Roboto';
    font-size: medium;
    color: #502EFF;

}

.ContactBtn {
    font-family: 'Poppins';
    font-size: 20px;
    background-color: #502EFF;
    border-radius: 24px;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
    box-shadow: 0 10px 10px #ddd;

}

.testbtn {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #FAF7FF;
    padding-top: 70px;
}

.ulFooter {
    list-style-type: none;
    font-family: 'Poppins';
    color: #000964;

}

.liFooter a {
    font-family: 'Poppins';
    color: #502EFF;
    text-decoration: none;
    font-size: 15px;

}

.AgencyFotterText {
    font-family: 'nexa';
    color: #000964;
    font-size: 32px;
    width: 200px;
    margin: 10px
}

.AgencyFotterText2 {
    font-family: 'Poppins';
    color: #502EFF;
    width: 260px;
    margin: 0%;

}

.AgencyFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;

}

.firstTextFooter {
    display: flex;
    flex-direction: column;
}

hr {
    height: 1px;
    background: #CBD5F9;
}

.cptext {
    color: #502EFF;
    text-align: center;
}

span {
    background-color: yellow;
    color: white;
}

.ClientAcheivement {
    background-color: #FAF7FF;
    display: flex;
    justify-content: end;

}

.leftPic {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    padding-top: 10%;
    text-align: center;

}

.firstTextClient {
    font-family: 'Graphie';
    color: #502EFF;
    font-size: 70px;
    width: 450px;
    text-align: center;
    padding-left: 150px;
}

.testClient {
    display: flex;
    justify-content: center;
    padding-left: 50%;

}

.ClientP {
    font-family: 'Poppins-SemiBold';
    font-size: 20px;
    color: #502EFF;
}


.achivText {
    font-family: 'Poppins-SemiBold';
    color: #502EFF;
    font-size: 20px;

}

.Acheivement {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iconOpacity {
    filter: invert(83%) sepia(2%) saturate(10%) hue-rotate(32deg) brightness(95%) contrast(87%);
}

.iconOpacity2 {
    filter: invert(19%) sepia(75%) saturate(5590%) hue-rotate(250deg) brightness(98%) contrast(107%);
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    padding-left: 7%;
}
.testP {
    color: #B4A7F9;
    opacity: 9%;
    font-family: 'Graphie';
    font-size: 300px;
    position: absolute;
    z-index: -3;
    margin: 15px;

}